<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원등록화면</title>
  <script>
    function go(){
      location.href = '/';  // 제일 상위 url로 돌아감
    }
  </script>
</head>
<body>
<h3>회원 등록</h3>
<form action="/member/join" method="post">  <!-- 회원등록 요청 -->
  <table border="1">
    <tr>
      <th>아이디</th><td><input type="text" name="id"></td>
    </tr>
    <tr>
      <th>패스워드</th><td><input type="password" name="pwd"></td>
    </tr>
    <tr>
      <th>이름</th><td><input type="text" name="name"></td>
    </tr>
    <tr>
      <th>이메일</th><td><input type="text" name="email"></td>
    </tr>
  </table>
  <input type="submit" value="등록"><input type="button" value="취소" onclick="go()">
</form>
</body>
</html>