<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 출력 화면</title>
    <script>
        function del(){  // 자바스크립트 post 방식 전송
            var flag = confirm("정말 삭제 하시겠습니까?");
            if(flag){
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/board/del');
                var hiddenfield = document.createElement('input');
                hiddenfield.setAttribute('name', 'num');
                hiddenfield.setAttribute('value', '{{bd.num}}');
                form.appendChild(hiddenfield);

                document.body.appendChild(form);
                form.submit();
            }
        }

        function back(){
            location.href = "/board/list"
        }
    </script>
</head>
<body>
<h3>게시글 읽기</h3>
<form action="/board/edit" method="post">  <!-- 게시글 수정 요청 -->
    {% if session.id != bd.writer %}  <!-- 작성자가 아니라면 게시글 보는 것만 가능 -->
    <table border="1">
        <tr><th>글번호</th><td>{{bd.num}}</td></tr>
        <tr><th>제목</th><td>{{bd.title}}</td></tr>
        <tr><th>작성일</th><td>{{bd.w_date}}</td></tr>
        <tr><th>작성자</th><td>{{bd.writer}}</td></tr>
        <tr><th>내용</th><td><textarea name="content" rows="15" cols="45" readonly>{{bd.content}}</textarea></td></tr>
    </table>
    {% else %}  <!-- 게시글 작성자라면 수정, 삭제 가능 -->
    <table border="1">
        <tr><th>글번호</th><td><input type="text" value="{{bd.num}}" name="num" readonly></td></tr>
        <tr><th>제목</th><td><input type="text" value="{{bd.title}}" name="title"></td></tr>
        <tr><th>작성일</th><td>{{bd.w_date}}</td></tr>
        <tr><th>작성자</th><td>{{bd.writer}}</td></tr>
        <tr><th>내용</th><td><textarea name="content" rows="15" cols="45">{{bd.content}}</textarea></td></tr>
    </table>
    <input type="submit" value="수정"><input type="button" value="삭제" onclick="del()"><br>
    {% endif %}
    <input type="button" value="돌아가기" onclick="back()">
</form>
</body>
</html>

